.App {
  text-align: center;
  display: grid;
}

.header {
  height: 30px;
  background-color: cornsilk;
  padding: 10px;
}

.content {
  background-color: whitesmoke;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: cornsilk;
}

.footer__iconContainer__link {
  text-decoration: none;
  color: blue;
}
